* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}

menu {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

menu a:hover {
    color: #ddd;
}